<div class="card box-shadow">
    <h4 class="card-header text-center">{{ title }}</h4>
    <form class="form-signin" [formGroup]="componentForm" (ngSubmit)="onSubmit()">
        <div class="card-padding">
            <div class="form-label-group margin-bottom">
                <input
                    [(ngModel)]="phoneComponent.type"
                    type="text"
                    id="type"
                    placeholder="Type"
                    formControlName="type"
                    class="form-control"
                />
                <span
                    *ngIf="!componentForm.get('type').valid && componentForm.get('type').touched"
                    class="help-block"
                >
                    <p class="error-text">Type moet ingevuld zijn</p>
                </span>
            </div>
            <div class="form-label-group">
                <input
                    [(ngModel)]="phoneComponent.description"
                    type="text"
                    id="description"
                    placeholder="Beschrijving"
                    formControlName="description"
                    class="form-control"
                />
                <span
                    *ngIf="
                        !componentForm.get('description').valid && componentForm.get('description').touched
                    "
                    class="help-block"
                >
                    <p class="error-text">Beschrijving moet ingevuld zijn</p>
                </span>
            </div>
            <br />
            <br />
            <button
                class="btn btn-lg btn-secordary2 btn-block"
                type="submit"
                [disabled]="!componentForm.valid"
            >
                Opslaan
            </button>
        </div>
    </form>
</div>
