.profile-pic {
  width: 120px;
  margin: 20px;
}

.card-body {
  padding-top: 0;
}

.profile-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5%;
}
