<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-9">
        <h1>Over deze applicatie</h1>
        <p>
            Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans
            Hogeschool Breda.
        </p>
        <h3>Phone Review</h3>
        <p>
            Phone Review is een applicatie die gebruikers de mogelijkheid geeft, om reviews te lezen over
            telefoons. Een administrator kan een account aanmaken voor iemand. Met dit account kan ingelogd
            worden. Na het inloggen kan er direct een review geschreven worden bij een telefoon.
        </p>
        <p>
            Er zijn vijf entiteiten in het systeem: Account, Phone, Component, Review en ProOrCon. Een account
            heeft een name, email, password, role en een lijst met reviews. Het emailadres en wachtwoord
            worden gebruikt bij het inloggen. De rol geeft aan welk type rol de gebruiker heeft. Er zijn in
            het systeem drie type gebruikers: gebruikers, reviewers en administrators. Gebruikers zijn niet
            ingelogd en mogen alleen de componenten, telefoons zien en reviews lezen. Vervolgens zijn er
            reviewers. Deze reviews mogen reviews plaatsen en hun eigen account aanpassen. Een reviewer heeft
            verder ook de zelfde rechten als een gebruiker. Tot slot is er een administrator. Een
            administrator kan ook inloggen en vervolgens reviewers en telefoons aanmaken. Verder kan die ook
            alles wat een reviewer kan.
        </p>
        <p>
            Verder is er een entiteit Phone. Een telefoon heeft schillende entiteiten: name, company, een
            lijst met componenten, en een lijst met reviews. Deze lijst met reviews worden geplaatst door
            reviewers. Deze lijst met reviews is zelf ook een entiteit. Verder kunnen alleen administratoren
            de telefoon aanmaken en daar componenten aan toevoegen. De componenten staan zelf ook in een
            aparte entiteit. Een telefoon heeft meerdere componenten en een component kan in meerdere
            telefoons voorkomen. Om een goed overzicht te krijgen van alle componenten is er ook een aparte
            componenten lijst in de applicatie. Een component bestaat uit een type en een description. Het
            type geeft aan wat voor soort component het is. Denk hierbij aan de batterij, camera of de
            processor. Een beschrijving geeft aan welk component het is. Bijvoorbeeld bij een processor de
            Snapdragon 845. De telefoons zelf zijn ook in een lijst terug te vinden, zodat de gebruikers een
            goed overzicht hebben van welke allemaal beschikbaar zijn.
        </p>
        <p>
            Tot slot zijn er twee entiteiten: Review en ProOrCon. Een review heeft een title, description en
            een lijst met proOrCons. Een titel komt boven de review te staan. Onder deze titel staat dan de
            geschreven review. Deze review zit in de attribuut description. Verder kunnen er ook nog voor en
            nadelen aan een review worden toegevoegd. Daarom is er ook een lijst met proOrCons. ProOrCon is
            een entiteit dat de attributen description en proOrCon bevat. Bij description wordt een korte
            beschrijving gegeven van het voor of nadeel. Het attribuut proOrCon is een boolean. Wanneer het
            false is, is het een con. Dit wil zeggen dat het een nadeel is. Als attribuut true is, is het een
            pro. Dus dan is het een voordeel.
        </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 margin-bottom">
        <div class="card box-shadow">
            <div class="card-header">
                <h3 class="card-title text-center">Melvin Mol</h3>
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-center align-items-center">
                    <img
                        src="assets/images/profile_pic.png"
                        class="card-img-top rounded-circle border profile-pic"
                        alt="..."
                    />
                </div>
                <p class="card-text text-center">
                    Studentnummer: 2138817
                </p>
            </div>
        </div>
    </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <p>Account</p>
        <ul>
            <li>naam: string</li>
            <li>email: string</li>
            <li>password: string</li>
            <li>role: number</li>
            <li>reviews: Review[]</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Phone</p>
        <ul>
            <li>name: string</li>
            <li>company: string</li>
            <li>price: number</li>
            <li>components: Component[]</li>
            <li>reviews: Review[]</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Component</p>
        <ul>
            <li>type: string</li>
            <li>description: string</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Review</p>
        <ul>
            <li>title: string</li>
            <li>description: number</li>
            <li>proOrCons: ProOrCon[]</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>ProOrCon</p>
        <ul>
            <li>description: string</li>
            <li>proOrCon: boolean</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>Use Cases</h3>
        <p>De applicatie biedt de volgende functionaliteit.</p>
        <div *ngFor="let UC of useCases">
            <app-usecase [useCase]="UC"></app-usecase>
        </div>
    </div>
</div>
