<table class="table table-hover box-shadow">
    <thead class="table-header">
        <tr>
            <th>Merk</th>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Details</th>
            <th *ngIf="isAdmin$ | async">Wijzigen</th>
            <th *ngIf="isAdmin$ | async">Verwijderen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let phone of phones">
            <td>{{ phone.company }}</td>
            <td>{{ phone.name }}</td>
            <td>{{ phone.price }}</td>
            <td>
                <button class="btn btn btn-secordary2 btn-block" routerLink="../{{ phone._id }}">
                    Details
                </button>
            </td>
            <td *ngIf="isAdmin$ | async">
                <button class="btn btn btn-secordary2 btn-block" routerLink="{{ phone._id }}/edit">
                    Wijzigen
                </button>
            </td>
            <td *ngIf="isAdmin$ | async">
                <button class="btn btn-secordary2 btn-block" (click)="deletePhone(phone._id)">
                    Verwijderen
                </button>
            </td>
        </tr>
    </tbody>
</table>
