<h1 class="text-center margin-bottom">{{ phone.company }} {{ phone.name }}</h1>

<div class="row">
    <div class="col-lg-4 col-md-12 margin-bottom">
        <app-list-component-detail-phone></app-list-component-detail-phone>
    </div>
    <div class="col-lg-8 col-md-12">
        <app-review></app-review>
    </div>
</div>
