<div class="card box-shadow">
    <h4 class="card-header text-center">Add review</h4>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div class="card-padding">
            <div class="row">
                <div class="col-7">
                    <h4 class="margin-bottom text-center">Review</h4>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-label-group margin-bottom">
                                <input
                                    type="text"
                                    id="title"
                                    placeholder="Titel"
                                    formControlName="title"
                                    class="form-control"
                                />
                                <span
                                    *ngIf="!reviewForm.get('title').valid && reviewForm.get('title').touched"
                                    class="help-block"
                                >
                                    <p class="error-text">Een titel moet ingevuld zijn</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="text-center margin-rigth">
                                    <h5>Sterren:</h5>
                                </div>
                                <div class="custom-control custom-radio my-1 mr-sm-2">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="oneStar"
                                        value="oneStar"
                                        formControlName="rating"
                                    />
                                    <label class="custom-control-label" for="oneStar">1 </label>
                                </div>
                                <div class="custom-control custom-radio my-1 mr-sm-2">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="twoStar"
                                        value="twoStar"
                                        formControlName="rating"
                                    />
                                    <label class="custom-control-label" for="twoStar">2 </label>
                                </div>
                                <div class="custom-control custom-radio my-1 mr-sm-2">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="threeStar"
                                        value="threeStar"
                                        formControlName="rating"
                                    />
                                    <label class="custom-control-label" for="threeStar">3 </label>
                                </div>
                                <div class="custom-control custom-radio my-1 mr-sm-2">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="fourStar"
                                        value="fourStar"
                                        formControlName="rating"
                                    />
                                    <label class="custom-control-label" for="fourStar">4 </label>
                                </div>
                                <div class="custom-control custom-radio my-1 mr-sm-2">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="fiveStar"
                                        value="fiveStar"
                                        formControlName="rating"
                                    />
                                    <label class="custom-control-label" for="fiveStar">5 </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-label-group margin-bottom">
                                <input
                                    type="text"
                                    id="description"
                                    placeholder="De review"
                                    formControlName="description"
                                    class="form-control"
                                />
                                <span
                                    *ngIf="
                                        !reviewForm.get('description').valid &&
                                        reviewForm.get('description').touched
                                    "
                                    class="help-block"
                                >
                                    <p class="error-text">Een titel moet ingevuld zijn</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h4 class="margin-bottom text-center">Voor of nadeel</h4>
                    <div class="form-label-group margin-bottom">
                        <input
                            type="text"
                            id="name"
                            placeholder="Beschrijving"
                            #box
                            (keyup)="liveTyping(box.value)"
                            class="form-control"
                        />
                    </div>
                    <a class="btn btn-secordary1 margin-bottom" (click)="changeConOrPro(conOrPro)">
                        <div *ngIf="conOrPro">Verander naar nadeel</div>
                        <div *ngIf="!conOrPro">Verander naar voordeel</div>
                    </a>
                    <p *ngIf="conOrPro">
                        <img src="../../../../assets/images/plus.png" class="img plus-minus-size" />
                        Is een voordeel
                    </p>
                    <p *ngIf="!conOrPro">
                        <img src="../../../../assets/images/minus.png" class="img plus-minus-size" />
                        Is een nadeel
                    </p>
                    <a class="btn btn-secordary1 margin-bottom" (click)="addConOrProToReview()">
                        Toevoegen
                    </a>

                    <table *ngIf="consOrPros && consOrPros.length > 0" class="table-sm w-100 table-striped">
                        <thead class="table-header">
                            <tr>
                                <th>Voor of nadeel</th>
                                <th>Beschrijving</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let conOrProVar of consOrPros">
                                <td>
                                    <div *ngIf="conOrProVar.conOrPro">
                                        <img
                                            src="../../../../assets/images/plus.png"
                                            class="img plus-minus-size"
                                        />
                                    </div>
                                    <div *ngIf="!conOrProVar.conOrPro">
                                        <img
                                            src="../../../../assets/images/minus.png"
                                            class="img plus-minus-size"
                                        />
                                    </div>
                                </td>
                                <td>{{ conOrProVar.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <br />
            <button class="btn btn-lg btn-secordary2 btn-block" type="submit" [disabled]="!reviewForm.valid">
                Opslaan
            </button>
        </div>
    </form>
</div>
