<div class="card box-shadow">
    <div class="card-header">
        <h4>Componenten</h4>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-header">
                <tr>
                    <th>Type</th>
                    <th>Beschrijving</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let component of phone.components">
                    <td>{{ component.type }}</td>
                    <td>{{ component.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
