<div class="row">
    <div class="col-sm-0 col-md-2 col-lg-3 col-lg-4"></div>
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
        <div class="card card-margin-top box-shadow">
            <h2 class="card-header text-center">Account aanmelden</h2>
            <form class="form-signin" [formGroup]="accountForm" (ngSubmit)="onSubmit()">
                <div class="card-padding">
                    <div class="form-label-group margin-bottom">
                        <input
                            type="text"
                            id="name"
                            placeholder="Naam"
                            formControlName="name"
                            class="form-control"
                        />
                        <span
                            *ngIf="!accountForm.get('name').valid && accountForm.get('name').touched"
                            class="help-block"
                        >
                            <p class="error-text">Een naam mag alleen uit letters bestaan</p>
                        </span>
                    </div>
                    <div class="form-label-group margin-bottom">
                        <input
                            type="text"
                            id="email"
                            placeholder="Email"
                            formControlName="email"
                            class="form-control"
                        />
                        <span
                            *ngIf="!accountForm.get('email').valid && accountForm.get('email').touched"
                            class="help-block"
                        >
                            <p class="error-text">Voer een geldig email adres in</p>
                        </span>
                    </div>

                    <div class="form-label-group margin-bottom">
                        <input
                            type="password"
                            id="password"
                            placeholder="Wachtwoord"
                            formControlName="password"
                            class="form-control"
                        />
                        <span
                            *ngIf="!accountForm.get('password').valid && accountForm.get('password').touched"
                            class="help-block"
                        >
                            <p class="error-text">Voer een geldig wachtwoord in</p>
                        </span>
                    </div>
                    <div class="margin-small-top">
                        <label for="">
                            Role
                        </label>
                        <div class="row">
                            <div class="col-4 text-center">
                                <div class="custom-control custom-radio my-1 mr-sm-2">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="Basic"
                                        value="Basic"
                                        formControlName="role"
                                    />
                                    <label class="custom-control-label" for="Basic">Basic</label>
                                </div>
                            </div>
                            <div class="col-4 text-center">
                                <div class="custom-control custom-radio my-1 mr-sm-2">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="Reviewer"
                                        value="Reviewer"
                                        formControlName="role"
                                    />
                                    <label class="custom-control-label" for="Reviewer">Reviewer</label>
                                </div>
                            </div>
                            <div class="col-4 text-center">
                                <div class="custom-control custom-radio my-1 mr-sm-2">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="Admin"
                                        value="Admin"
                                        formControlName="role"
                                    />
                                    <label class="custom-control-label" for="Admin">Admin</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <button
                        class="btn btn-lg btn-secordary2 btn-block"
                        type="submit"
                        [disabled]="!accountForm.valid"
                    >
                        Aanmelden
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-0 col-md-2 col-lg-3 col-xl-4"></div>
</div>
