<h1 class="text-center margin-bottom">Telefoons</h1>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <app-list-phone></app-list-phone>
    </div>
    <div *ngIf="isAdmin$ | async" class="col-lg-4 col-md-4 col-sm-12">
        <div class="card box-shadow margin-bottom">
            <h4 class="card-header">Opties</h4>
            <div class="card-padding">
                <div action="#" method="post" class="form" role="form">
                    <button class="btn btn-lg btn-secordary2 btn-block" routerLink="/phone/dashboard/add">
                        Telefoon toevoegen
                    </button>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
