<h1 class="text-center margin-bottom">Componenten</h1>
<div class="row">
    <div class="col-lg-9">
        <app-list-component></app-list-component>
    </div>
    <div *ngIf="isAdmin$ | async" class="col-lg-3">
        <div class="card box-shadow margin-bottom">
            <h4 class="card-header">Opties</h4>
            <div class="card-padding">
                <div action="#" method="post" class="form" role="form">
                    <button class="btn btn-lg btn-secordary2 btn-block" routerLink="/component/add">
                        Component toevoegen
                    </button>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
