<div class="card box-shadow">
    <h4 class="card-header text-center">{{ title }}</h4>
    <form [formGroup]="phoneForm" (ngSubmit)="onSubmit()">
        <div class="card-padding">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-label-group margin-bottom">
                        <input
                            [(ngModel)]="phone.company"
                            type="text"
                            id="company"
                            placeholder="Merk"
                            formControlName="company"
                            class="form-control"
                        />
                        <span
                            *ngIf="!phoneForm.get('company').valid && phoneForm.get('company').touched"
                            class="help-block"
                        >
                            <p class="error-text">Merk moet ingevuld zijn</p>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-label-group margin-bottom">
                        <input
                            [(ngModel)]="phone.name"
                            type="text"
                            id="name"
                            placeholder="Naam"
                            formControlName="name"
                            class="form-control"
                        />
                        <span
                            *ngIf="!phoneForm.get('name').valid && phoneForm.get('name').touched"
                            class="help-block"
                        >
                            <p class="error-text">Naam moet ingevuld zijn</p>
                        </span>
                    </div>
                </div>
                <div class="col-7">
                    <div class="form-label-group margin-bottom">
                        <div ngbDropdown>
                            <a class="btn btn-secordary1 btn-block" id="dropdownComponents" ngbDropdownToggle>
                                Componenten
                            </a>
                            <div
                                ngbDropdownMenu
                                class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="dropdownComponents"
                            >
                                <div *ngFor="let component of phoneComponents">
                                    <a ngbDropdownItem (click)="addComponentToPhone(component)">
                                        <b>{{ component.type }}</b>
                                        -
                                        {{ component.description }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-label-group margin-bottom">
                        <input
                            [(ngModel)]="phone.price"
                            type="number"
                            id="price"
                            placeholder="Prijs"
                            formControlName="price"
                            class="form-control"
                        />
                        <span
                            *ngIf="!phoneForm.get('price').valid && phoneForm.get('price').touched"
                            class="help-block"
                        >
                            <p class="error-text">Prijs mag geen negatief getal bevatten</p>
                            <p class="error-text">Prijs mag maar 2 getallen achter de comma hebben</p>
                        </span>
                    </div>
                </div>
            </div>
            <table
                *ngIf="componentsAddedToPhone && componentsAddedToPhone.length > 0"
                class="table-sm w-100 table-striped"
            >
                <thead class="table-header">
                    <tr>
                        <th>Type</th>
                        <th>Beschrijving</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let component of componentsAddedToPhone">
                        <td>{{ component.type }}</td>
                        <td>{{ component.description }}</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <br />
            <button class="btn btn-lg btn-secordary2 btn-block" type="submit" [disabled]="!phoneForm.valid">
                Opslaan
            </button>
        </div>
    </form>
</div>
