<nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top navbar-shadow">
    <a
        class="navbar-brand"
        routerLink="/"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ title }}</a
    >
    <button
        class="navbar-toggler hidden-sm-up"
        type="button"
        (click)="isNavbarCollapsed = !isNavbarCollapsed"
        data-target="#navbarsDefault"
        aria-controls="navbarsDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="phone/dashboard"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Telefoons</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/component"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Componenten</a
                >
            </li>
            <li *ngIf="isAdmin$ | async" class="nav-item">
                <a class="nav-link" routerLink="/account/add" href="#">Account</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="about"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >About</a
                >
            </li>
        </ul>
        <ul class="navbar-nav">
            <li *ngIf="!(isLoggedIn$ | async)" class="nav-item">
                <a class="nav-link" routerLink="/login" href="#">Login</a>
            </li>
            <li *ngIf="isLoggedIn$ | async as isLoggedIn" ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link" id="profile">{{ fullName }}</a>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="profile">
                    <a class="dropdown-item" routerLink="/users/me" [routerLinkActive]="['active']"
                        >Profiel</a
                    >
                    <a class="dropdown-item" routerLink="/todo" [routerLinkActive]="['active']">Reviews</a>
                    <a class="dropdown-item" routerLink="" (click)="onLogout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
