<div class="card margin-bottom">
    <div class="card-header">
        <h4>Reviews</h4>
    </div>
    <div class="card-body" *ngFor="let review of reviews">
        <div class="card margin-bottom">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="float-left">
                            <strong>{{ review.title }}</strong>
                        </p>
                        <div class="clearfix"></div>
                        <p>
                            {{ review.description }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h5 class="float-left">
                            Voor en nadelen
                        </h5>
                        <div class="clearfix margin-bottom"></div>
                        <div class="text-left" *ngFor="let conOrPro of review.consOrPros">
                            <p>
                                <img
                                    *ngIf="conOrPro.conOrPro"
                                    src="../../../assets/images/plus.png"
                                    class="img plus-minus-size"
                                />
                                <img
                                    *ngIf="!conOrPro.conOrPro"
                                    src="../../../assets/images/minus.png"
                                    class="img plus-minus-size"
                                />
                                {{ conOrPro.description }}
                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <img
                            *ngFor="let item of createRange(review.rating)"
                            src="../../../assets/images/star.png"
                            class="img rating-size"
                        />
                        {{ review.rating }} / 5
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
