<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-4"></div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card card-margin-top box-shadow">
            <h2 class="card-header">Inloggen</h2>
            <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="card-padding">
                    <!--<div *ngIf="visible === true">
                        <div class="alert alert-danger" role="alert">Email of wachtwoord is onjuist</div>
                    </div>-->
                    <div class="form-label-group margin-bottom">
                        <input
                            type="text"
                            id="email"
                            placeholder="Email"
                            formControlName="email"
                            class="form-control"
                        />
                        <span
                            *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
                            class="help-block"
                        >
                            <p class="error-text">Voer een geldig email adres in</p>
                        </span>
                    </div>

                    <div class="form-label-group margin-bottom">
                        <input
                            type="password"
                            id="password"
                            placeholder="Password"
                            formControlName="password"
                            class="form-control"
                        />
                        <span
                            *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
                            class="help-block"
                        >
                            <p class="error-text">Voer een geldig wachtwoord in</p>
                        </span>
                    </div>
                    <button
                        class="btn btn-lg btn-secordary2 btn-block"
                        type="submit"
                        [disabled]="!loginForm.valid"
                    >
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-4"></div>
</div>
