<table class="table table-hover box-shadow">
    <thead class="table-header">
        <tr>
            <th>Type</th>
            <th>Beschrijving</th>
            <th *ngIf="isAdmin$ | async">Wijzigen</th>
            <th *ngIf="isAdmin$ | async">Verwijderen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let component of phoneComponents">
            <td>{{ component.type }}</td>
            <td>{{ component.description }}</td>
            <td *ngIf="isAdmin$ | async">
                <button class="btn btn btn-secordary2 btn-block" routerLink="{{ component._id }}/edit">
                    Wijzigen
                </button>
            </td>
            <td *ngIf="isAdmin$ | async">
                <button class="btn btn-secordary2 btn-block" (click)="deleteComponent(component._id)">
                    Verwijderen
                </button>
            </td>
        </tr>
    </tbody>
</table>
