<table class="table table-sm table-bordered">
    <tbody>
        <tr class="table table-header">
            <th scope="row" style="width: 16.66%"><h5>Naam</h5></th>
            <td>
                <h5>{{ useCase.id }} {{ useCase.name }}</h5>
            </td>
        </tr>
        <tr>
            <th scope="row">Beschrijving</th>
            <td>{{ useCase.description }}</td>
        </tr>
        <tr>
            <th scope="row">Actor</th>
            <td>{{ useCase.actor }}</td>
        </tr>
        <tr>
            <th scope="row">Preconditie</th>
            <ul>
                <li *ngFor="let precondition of useCase.precondition">{{ precondition }}</li>
            </ul>
        </tr>
        <tr>
            <th scope="row">Scenario</th>
            <td>
                <ol>
                    <li *ngFor="let step of useCase.scenario">{{ step }}</li>
                </ol>
            </td>
        </tr>
        <tr>
            <th scope="row">Postconditie</th>
            <td>{{ useCase.postcondition }}</td>
        </tr>
    </tbody>
</table>
