/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #17a2b8;
    --secordary1-color: #17b87e;
    --secordary2-color: #1752b8;
}

.table-header {
    color: #fff;
    background-color: var(--secordary1-color);
}

.table-header {
    color: #fff;
    background-color: var(--secordary1-color);
}

.card-padding {
    padding: 1em;
}

.card-margin-top {
    margin-top: 2.5em;
}

.card-header {
    color: #fff;
    background-color: var(--secordary1-color);
}

.btn-secordary1 {
    color: #fff !important;
    background-color: var(--secordary1-color);
}

.btn-secordary1:hover {
    color: #fff;
    filter: brightness(115%);
}

.btn-secordary2 {
    color: #fff !important;
    background-color: var(--secordary2-color);
}

.btn-secordary2:hover {
    color: #fff;
    filter: brightness(115%);
}

.margin-bottom {
    margin-bottom: 1em;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}

.rounded-corners {
    border-radius: 1em;
}

.error-text {
    color: red;
}
